/* LOAD FONTS INTO THE HTML PAGE */
@font-face { font-family: bebasneue; src: url("fonts/BebasNeue-Regular.otf"); }
@font-face { font-family: caviardreams; src: url("fonts/CaviarDreams.ttf"); }
@font-face { font-family: roboto; src: url("fonts/Roboto-Regular.ttf"); }
@font-face { font-family: code; src: url("fonts/CODE Bold.otf"); }
@font-face { font-family: robotolight; src: url("fonts/Roboto-Light.ttf"); }


/* CONTACT ME BOX */
.contactme{
  text-align: center;
  list-style-type: none;
  padding-top: 20px;
}
.contactme li {
  display: inline-block;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.contactme li a {
  border-bottom: none;
}

/* SOCIAL ICONS */
.social-icons {
  text-align: center;
}
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
}
.social-icons li a {
  border-bottom: none;
}
.social-icons li img {
  width:70px;
  height:70px;
  margin-right: 20px;
}

/* HEADER LOGO */
.headerLogo{
  padding-right: 10px;
  padding-bottom: 10px;
}

.tracklist{
  list-style-type: none;
  font-size: ;
  list-style-position: outside;
  font-family: "roboto",sans-serif;
  text-indent: 5%;
  padding: 2px;
  line-height: 20px;

}
.tracklistquote{
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  font-variant: small-caps;
  font-family: "roboto", serif;
  color: black;
}

.contactmelist {
  font-family: "roboto";
  font-size: 16px;
  font-weight: normal;
  padding: 0;

}


/* GRID BOX */
.wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr) min-content;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 5px;
  padding: 5px;
}
.topBox{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;

  grid
}
.leftBox{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;

  background-color: White;
  padding: 20px;

}
.rightBox{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;

  background-color: white;
  padding: 20px;
  grid-auto-columns: 500px;
}
.bottomBox{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;

  background-color: black;
  text-align: center;
  line-height: 100px;
  color: white;
}

/* DATE STYLING */
.date{
  font-size: 10px;
  letter-spacing: 0;
  font-style: normal;
  padding-bottom: 10px;
  font-family: "robotolight";
}

/* NAVIGATION BAR */
.navbar {
  background-color: black;
  overflow: hidden;
  font-family: "robotolight", sans-serif;
  width: 100%;
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2px;
}
.rightalign a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: "robotolight", sans-serif;
  background-color: #C80043;
  letter-spacing: 2px;
}
.navbar a:hover {
  background-color: #414958;
  color: white;
}
.navbar a.active {
  background-color: #C9195F;
  color: white;
}

.headerquote{
  background-color: black;
  padding-left: 15px;
}

.loginPageBground{
  background-image: url("img/ultra2019.jpg");
}
.image2{
  background-image: url("img/jervisbayimage.jpg");
}

.gifPadding{
  padding-top: 10px;
}
.loginPage{
  font-size: 48px;
  font-style: normal;
  font-weight: 350;
  font-variant: small-caps;
  text-align: center;
  font-family: "robotolight", serif;
  color: black;
  padding-top: 40px;
}

.meStyling{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 40%;
}

/* ELEMENTS STYLING */
ol {
  list-style-type: decimal;
  list-style-position: inside;
}

img{
  max-width: 400px;
  max-height: 600px;
}
p{
  font-family: "roboto";
  padding: 2px;
}
q {
  font-size: 16px;
  font-style: italic;
  font-weight: lighter;
  font-variant: small-caps;
  font-family: "robotolight", serif;
  color: white
}
body {
  background-image: url("img/backgroundimg.jpg");
  background-color: rgba(10, 10, 10, 0.8);
  background-position: center;
  background-size: cover;
  background-attachment: fixed ;
}

h1 {
  background-color: black;
  float: none;
  color: rgb(226, 226, 226);
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  font-size: 48px;
  font-family: "robotolight";
  font-style: normal;
  padding-top: 10px;
  padding-left: 20px;
  letter-spacing: 6px;
}
h2 {
  display: block;
  background-color: black;
  font-size: 1.5em;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-variant: small-caps;
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  font-family: "robotolight",sans-serif;
  font-style: normal;
  color: white;
  letter-spacing: 2px;
  padding: 3px;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 0.5em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: bolder;
  font-family: "roboto",sans-serif;
}
table, td{
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 0;
  border-spacing: 30px;
}
th{
  background-color: black;
  color: white;
  font-family: "robotolight", sans-serif;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
td{
  padding-left: 15px;
  font-family: "roboto", sans-serif;
  text-align: center;
}
